[submodule "source/uiengine/be/imguibe/imgui"]
	path = source/uiengine/be/imguibe/imgui
	url = https://github.com/devcfei/imgui.git
	branch = docking
[submodule "source/uiengine/be/imguibe/imgui_tex_inspect"]
	path = source/uiengine/be/imguibe/imgui_tex_inspect
	url = https://github.com/andyborrell/imgui_tex_inspect
